RUN_ENV=
SECRET_KEY=
DJANGO_SETTINGS_MODULE=
GOOGLE_OAUTH_CLIENT_ID=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_OAUTH_KEY_ID=
APPLE_PRIVATE_KEY=
APPLE_OAUTH_REDIRECT_URI=

POWERSYNC_PASSWORD=
POWERSYNC_STORAGE_USERNAME=
POWERSYNC_STORAGE_PASSWORD=